NeocronWorldMap.Web/Service References/NeocronSessionManagement/SessionManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://backend.neocron-game.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://backend.neocron-game.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://backend.neocron-game.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:SessionDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SessionDetails">
        <s:complexContent mixed="false">
          <s:extension base="tns:BasicResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Identifier" type="s:unsignedInt" />
              <s:element minOccurs="1" maxOccurs="1" name="Token" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Tries" type="s:unsignedInt" />
              <s:element minOccurs="1" maxOccurs="1" name="LockedUntil" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ValidUntil" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLoggedIn" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGameMaster" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="GameMasterRank" type="s:unsignedInt" />
              <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:unsignedInt" />
              <s:element minOccurs="0" maxOccurs="1" name="ValidityTimeSpan" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RemoteEndpoint" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BasicResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RequestSucceeded" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResetSessions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="token" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetSessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetSessionsResult" type="tns:BasicResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSessionsSoapIn">
    <wsdl:part name="parameters" element="tns:ResetSessions" />
  </wsdl:message>
  <wsdl:message name="ResetSessionsSoapOut">
    <wsdl:part name="parameters" element="tns:ResetSessionsResponse" />
  </wsdl:message>
  <wsdl:portType name="SessionManagementSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetSessions">
      <wsdl:input message="tns:ResetSessionsSoapIn" />
      <wsdl:output message="tns:ResetSessionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionManagementSoap" type="tns:SessionManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://backend.neocron-game.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSessions">
      <soap:operation soapAction="http://backend.neocron-game.com/ResetSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SessionManagementSoap12" type="tns:SessionManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://backend.neocron-game.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSessions">
      <soap12:operation soapAction="http://backend.neocron-game.com/ResetSessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionManagement">
    <wsdl:port name="SessionManagementSoap" binding="tns:SessionManagementSoap">
      <soap:address location="http://api.neocron-game.com/SessionManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="SessionManagementSoap12" binding="tns:SessionManagementSoap12">
      <soap12:address location="http://api.neocron-game.com/SessionManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>